annotated-doc
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
certifi
cffi
charset-normalizer
click
clip @ git+https://github.com/openai/CLIP.git@d05afc436d78f1c48dc0dbf8e5980a9d471f35f6
cloudinary
colorama
dnspython
ecdsa
email-validator
exceptiongroup
fastapi
filelock
fsspec
ftfy
grpcio
h11
h2
hf-xet
hpack
httpcore
httpx
huggingface_hub
hyperframe
idna
Jinja2
joblib
markdown-it-py
MarkupSafe
mdurl
motor
mpmath
networkx
numpy
packaging
passlib
pillow
portalocker
protobuf
pyasn1
pycparser
pydantic
pydantic_core
Pygments
pymongo
python-dotenv
python-jose
python-multipart
PyYAML
qdrant-client
regex
requests
rich
rsa
safetensors
shellingham
six
starlette
sympy
threadpoolctl
tokenizers
sentence-transformers
scikit-learn
scipy
torch
torchvision
torchaudio
tqdm
transformers
typer
typing-inspection
typing_extensions
urllib3
uvicorn
wcwidth